
body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:black;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.header {
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    padding-bottom: 10em;
    position: relative;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
    height: auto;
}

#i15{
    z-index: 2;
}

#i15, #zen, #ipad{
    transform: scale(1);
    transition: transform 0.3s;
    margin: 10px;
}

#i15:hover, #zen:hover, #ipad:hover{
    transform: scale(1.4);
    z-index: 1;
    cursor:grab;
}

#zen{
    position: absolute;
    height: 45em;
    right: 18%;
    
}

#ipad{
    position: absolute;
    height: 39em;
    right: 55%;
    top: 9%;
}

.welcome-message {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(204, 149, 105, 0.247);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Martian Mono', monospace;
    color:honeydew;
}

.welcome-message h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.welcome-message p {
    font-size: 1.25rem;
}

.navbar {
    background-color:aliceblue;
    color: #fff;
    padding: 5px 20;
    margin-top: 0%;
    margin-top: 0px;
    position: sticky;
    top: 0%;

    z-index: 10;
}

.logo img {
    height: 250px;
    margin-right: 20px;
    padding: 0%;
    margin: 0%;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-content {
    flex: 1;
    padding: 20px;
}

.map-container {
    flex: 1;
    padding: 20px;
}

.map-container iframe {
    width: 100%;
    height: 120%;
    border: 0;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list li {
    display: inline-block;
    margin: 0 20px;
}

.nav-list a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 20px;
}

.nav-list a:hover {
    color: #ff9900;
}

.intro,
.featured-products,
.testimonials {
    background-color:blanchedalmond;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.intro h2,
.featured-products h2,
.testimonials h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-links a {
    text-decoration: none;
    color: #ff9900;
    margin: 0 10px;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .welcome-message h1 {
        font-size: 2rem;
    }

    .welcome-message p {
        font-size: 1rem;
    }

    .nav-list li {
        margin: 0 10px;
    }

    .nav-list a {
        font-size: 0.9rem;
    }

    .intro h2,
    .featured-products h2,
    .testimonials h2 {
        font-size: 1.5rem;
    }

    .footer-links a {
        font-size: 0.9rem;
    }

    #zen{
        display: none;
    }

    #ipad{
        display: none;
    }
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
}

.product-item {
    flex-basis: calc(200px);
    background-color:#deb887;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#first{
    background-color: #A68254;
}

#second{
    background-color: #543B0F;
    color: whitesmoke;
}

#third{
    background-color: #241200;
    color: whitesmoke;
}

.product-item img {
    max-width: 100%;
    height: 170px;
    margin-bottom: 5px;
}

.product-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.price {
    font-weight: bold;
    color:black;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.rating {
    color: #ff9900;
    font-size: 1rem;
    margin-bottom: 10px;
}

.star {
    color: black;
    font-size: 1.2rem;
}

.buy-button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color:black;
}


.testimonial {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);

    }
}

.testimonial-bubble {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    max-width: 70%;
    animation: float 1.5s ease-in-out infinite;
}

.testimonial-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #ff9900;
}

.testimonial-author {
    margin-left: 10px;
}

.testimonial-author p {
    margin: 0;
    font-weight: bolder;
}

.testimonial-author strong {
    font-size: 1.5rem;
}


.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}
.form-group-but{
    align-items: center;
    display: flex;
    justify-content: center;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: black;
}